@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.about-body {
  background: #6699c8af;
  color: white;
  font-family: 'Lato', sans-serif;
  width: 85vw;
  height: 20vh;
  border-radius: 15px;
  position: fixed;
  right: 7vw;
  bottom: 40vh;
};