@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.about-body {
  background: #6699C8;
  color: white;
  font-family: 'Lato', sans-serif;
  width: 85vw;
  height: 40vh;
  position: absolute;
};

.skills-body {
  background: #7BC8EA;
  color: white;
  font-family: 'Lato', sans-serif;
  width: 85vw;
  height: 40vh;
  position: absolute;
};

.projects-body {
  background: #08707E;
  color: white;
  font-family: 'Lato', sans-serif;
  width: 85vw;
  height: 40vh;
  position: absolute;
};

.contact-body {
  background: #F8C81E;
  color: white;
  font-family: 'Lato', sans-serif;
  width: 85vw;
  height: 40vh;
  position: absolute;
};