@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.home-body {
  text-align: center;
  /* background-image: linear-gradient(-45deg, #6699c8, #7BC8EA, #F8C81E);  */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50vh;
  width: 225px;
  border: 2px solid white;
  position: relative;
  
}

#face-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  z-index: 10;
  position: relative;
  bottom: 65px;
}

/* header info */
.name-title {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 65px;
}
.name-title > h1 {
  font-family: 'Righteous', cursive;
  font-size: 3em;
}
.name-title > p {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
}

/*section buttons */
.about-button {
  /* background: #6699C8; */
  background: white;
  border: none;
  font-size: 1.4em;
  font-family: 'Lato', sans-serif;
}
.skills-button {
  /* background: #7bc8ea; */
  background: white;
  border: none;
  font-size: 1.4em;
  font-family: 'Lato', sans-serif;
}
.projects-button {
  /* background: #08707E; */
  background: white;
  border: none;
  font-size: 1.4em;
  font-family: 'Lato', sans-serif;
}
.contact-button {
  /* background: #F8C81E; */
  background: white;
  border: none;
  font-size: 1.4em;
  font-family: 'Lato', sans-serif;
}

/*info sections */
#about-section {
  height: 50px;
  width: 200px;
  /* background: #6699C8; */
  background: white;
  position: relative;
  border-radius: 30px;
}
#skills-section {
  height: 50px;
  width: 200px;
  /* background: #7BC8EA; */
  background: white;
  position: relative;
  border-radius: 30px;
}

#projects-section {
  height: 50px;
  width: 200px;
  /* background: #08707E; */
  background: white;
  position: relative;
  border-radius: 30px;
}

#contact-section {
  height: 50px;
  width: 200px;
  /* background: #F8C81E; */
  background: white;
  position: relative;
  border-radius: 30px;
}

