@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.projects-body {
  background: rgba(27, 132, 173, 0.966);
  color: white;
  font-family: 'Lato', sans-serif;
  width: 85vw;
  height: 20vh;
  border-radius: 15px;
  position: fixed;
  left: 7vw;
  bottom: 40vh;
}
.link-container {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 15px;
}

.Link {
  text-decoration: none;
  color: white;
}
.Link:hover{
  color: black;
  text-transform: uppercase;
}

.modal-header {
  font-size: 30px;
  position: relative;
  bottom: 15px;
}

.projects-line {
  height: 2px;
  width: 65vw;
  background: white;
  position: relative;

}