@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.projects-body {
  background: #08707E;
  color: white;
  font-family: 'Lato', sans-serif;
  width: 85vw;
  height: 40vh;
  position: absolute;
}