@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.skills-body {
  background: #7bc9eaaf;
  color: white;
  font-family: 'Lato', sans-serif;
  width: 85vw;
  height: 20vh;
  border-radius: 15px;
  position: fixed;
  left: 7vw;
  bottom: 40vh;
}