@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.skills-body {
  /* background: #7bc9eaaf; */
  background: rgba(27, 132, 173, 0.966);
  color: white;
  font-family: 'Lato', sans-serif;
  width: 85vw;
  height: 30vh;
  border-radius: 10px;
  position: fixed;
  left: 7vw;
  bottom: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
/*container for h1's and the line underneath*/
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
}
/*the actual line*/
.skills-line {
  height: 2px;
  width: 80vw;
  background: white;
  position: relative;
  /* top: 5px; */
  bottom: 35px;
}

.skills-body h1 {
  position: relative;
  bottom: 45px;
}
.skills-exit {
  border: none;
  background: none;
  color: white;
  position: relative;
  right: 41vw;
  bottom: 12px;
  font-size: 15px;
}
.skills-exit:hover {
  color: black;
}
.skills-image {
  height: 85px;
  width: 85px;
}

.image-container {
  width: 83vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}